*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;

	@media all and (max-width: 75em) {
		font-size: 50%;
	}

	@media all and (max-width: 50em) {
		font-size: 40%;
	}
}

body {
	width: 100vw;
	height: 100vh;
	font-size: 1.8rem;
	font-family: 'Roboto', 'sans-serif';
	background-image: linear-gradient(
		to right,
		$light-purple,
		$dark-purple
	);
	position: relative;
}
button {
	width: 10rem;
	height: 2.5rem;
	outline: none;
	cursor: pointer;
}
input {
	margin: 0 auto;
}
