.App-Layout {
	width: 100rem;
	height: 60rem;
	margin: 0 auto;
	background-color: white;
	box-shadow: 0 1.5rem 4rem rgba($black, .6);
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: height .3s linear, width .3s linear;
	overflow: hidden;
}
