.text-gradient {
	width: fit-content;
	color: transparent;
	background-image: linear-gradient(
		to right,
		rgba(204, 43, 94, 1),
		rgba(117, 58, 136, 1)
	);
	-webkit-background-clip: text;
	background-clip: text;
}

.center-block-absolute {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
