// CSS Variables

:root {
	// gradient colors
	--light-purple: #cc2b5e;
	--dark-purple: #753a88;
	--forest-green: #25b999;
	--aqua-green: #7acebc;
}

// SASS Color Variables

$light-purple: #cc2b5e;
$dark-purple: #753a88;

$black: #000000;
$white: #ffffff;

$light-blue: #2998ff;
$dark-blue: #5643fa;

$light-grey: #f7f7f7;
$invalid-form: #ff7730;
// Font Size Variables

$regular: 1.8rem;
$medium: 2.5rem;
