.button-gradient {
	width: 20rem;
	height: 5rem;
	color: $white;
	cursor: pointer;
	border-radius: 5rem;
	border: none;
	background-image: linear-gradient(
		to right,
		$light-purple,
		$dark-purple
	);
	box-shadow: 1px 4px 1rem rgba($black, .6);
}
.circle-button {
	width: 5rem;
	height: 5rem;
	outline: none;
	border: none;
	border-radius: 10rem;
	background-color: white;
}
.square-button {
	background: white;
	outline: none;
	border: none;
}
.button-link:active,
.button-link {
	background: transparent;
	outline: none;
	border: none;
	width: fit-content;
	font-family: 'Roboto';
	font-size: 1.8rem;
	color: #6666ff;
	text-decoration: underline;
}
.button-link:visited {
	color: #551a8b;
}
.button-link:hover {
	color: #dd0000;
}
