.dashboard {
	background: linear-gradient(
			to bottom,
			rgba(10, 24, 113, 0.6),
			rgba(10, 24, 113, 0.6)
		),
		url('./images/new-card.jpg') no-repeat center / cover;
	padding: 3rem 0rem;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;

	&__todo-wrapper {
		width: 40rem;
		height: 54rem;
		justify-self: center;

		// position: absolute;
		// top: 50%;
		// left: 50%;
		// transform: translate(-50%, -50%);
	}
}
