.login {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;

	&--left-box {
		width: 100%;
		padding: 4rem;
		color: $white;
		background: linear-gradient(
				to bottom,
				rgba(0, 210, 255, .7),
				rgba(228, 51, 148, 0.8)
			),
			url('./images/login-bg.jpg') no-repeat center / cover;
	}

	&__container {
		width: 100%;
		height: 100%;
		padding: 4rem;
		font-family: 'Lato';

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: relative;
	}

	&__dashboard-button {
		display: block;
		width: 10rem;
		font-size: 2rem;
		background: transparent;
		outline: none;
		border: none;
		color: royalblue;

		&:disabled {
			opacity: .3;
		}
	}

	&__submit-button {
		display: block;
		margin: 0 auto;
		font-size: 1.8rem;
		margin-top: 5rem;
	}

	&__link {
		display: block;
		width: 11rem;
		position: absolute;
		top: 13rem;
		right: 5rem;
		text-decoration: none;
	}
}
