.login {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	background: linear-gradient(
			to bottom,
			rgba(0, 210, 255, .7),
			rgba(228, 51, 148, 0.8)
		),
		url('./images/login-bg.jpg') no-repeat center / cover;

	&--left-box {
		width: 100%;
		padding: 4rem;
		color: $white;
	}

	&__container {
		width: 65rem;
		height: 40rem;
		padding: 2rem;
		font-family: 'Lato';
		background: white;
		border-radius: 3px;
		box-shadow: 1px 8px 14px rgba(0, 0, 0, .4);
		transition: height .3s ease-in-out, width .3s ease-in-out;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__login-wrapper {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&__dashboard-button {
		display: block;
		width: 10rem;
		font-size: 2rem;
		background: transparent;
		outline: none;
		border: none;
		color: royalblue;

		&:disabled {
			opacity: .3;
		}
	}

	&__submit-button {
		display: block;
		margin: 0 auto;
		width: 15rem;
		height: 4rem;
		font-size: 1.8rem;
		margin-top: 2rem;
	}

	&__link {
		display: inline-block;
		width: auto;
		padding: 5px;
		position: absolute;
		top: 8rem;
		right: 5rem;
		text-decoration: none;
	}
}
