.register {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;

	@media all and (max-width: 50em) {
		grid-gap: 2rem;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
	}

	&--right-box {
		padding: 4rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__title {
		width: fit-content;
	}
}
