.register {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;

	@media all and (max-width: 50em) {
		grid-gap: 2rem;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
	}

	&--right-box {
		padding: 4rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__title {
		width: fit-content;
	}

	&__login-button-link:active,
	&__login-button-link {
		background: transparent;
		outline: none;
		border: none;
		width: fit-content;
		font-family: 'Roboto';
		font-size: 1.8rem;
		color: #6666ff;
		text-decoration: underline;
	}

	&__login-button-link:visited {
		color: #551a8b;
	}

	&__login-button-link:hover {
		color: #dd0000;
	}
}
